* {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 960px;
}

body{
    border: solid red;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    border: solid yellowgreen;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
 
}


.seccion_1{
    display: flex;
    flex-direction: column;
    border: solid green;
    height: 525px;
    background-image: url(./imagen/Mask\ Group.png);
}

.h21{
    border: solid blue;
    color: white;
    font-size: 64px;
    height: 70px;
    width: 250px;
    text-align: center;
    /* font-weight: 700; */
}

.div11{
    border: solid yellow;
    font-family: Arial;
    font-size: 64px;
    font-weight: 700;
    width: 232px;
    height: 74px;
    text-align: center;

}

.div12{

    background-color: rgba(7, 139, 247, 0.295);
    font-size: 40px;
    font-weight: 700;
    border-radius: 10px 10px 10px 10px;
    opacity: 20px;
    text-shadow: #e705a3;
    font-style: hover;
}

.seccion_2{
    width: 920px;
    height: 300px;
    background-color: #66b5f7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

.tit2{

    color: blue;
}

.texto2{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 890px;
}

.boton2{
    background-color: #e279c3;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border-color: #e279c3;
    width: 90px;
    height: 30px;
    left: 40px;

}

.seccion_3{
    width: 920px;
    height: 300px;
    background-color: #a00bce;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.label3{

    color: aqua;

}


.caja{
    display: flex;
}