* {
    margin:0;
    padding: 0;
}

body{
    border: solid red;
    height: 100vh;
}

article{
    width: 300px;
    height: 200px;
    text-align: center;
}

img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
/*  
h4 {
    font-size: 40px;
    color: green;
    border: solid red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    */