* {
    margin:0;
    padding: 0;
}

body{
    border: solid rgb(68, 67, 67);
    height: 100vh;
}

h1{
    font-size: 30px;
}
article{
    padding: 20px;
    border: solid;
    border-radius: 10px;
    width: 280px;
    height: 300px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(209, 195, 118);

}

img{
    padding: 10;
    width: 180px;
    height: 240px;
    object-fit: contain;
    border-radius: 100%;
}

p {
    text-align: center;
}
